@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');  

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ECECED;
}

button {
  cursor: pointer;
  border: none;
}

.header-container {
  position: sticky;
  top: 0;
  width: 100%;
  height: 5rem;
  background: #FFFF;
  z-index: 1;
  transition: 0.3s;
}

.header-content {
  max-width: 1120px;
  margin: 0 auto;
  height: 5rem;
}

.header-content nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 92px;
  height: 5rem;
}

.header-content nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

.header-content nav ul li {
  list-style-type: none;
}

.header-content nav .textfield {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background: #fff;
  padding: 8px;
}

.header-content nav .textfield input {
  border: none;
  font-size: 16px;
  outline: none;
}

.header-content nav .a-cart {
  margin-left: auto;
} 

.header-content nav ul li a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.container {
  max-width: 1120px;
  margin: 32px auto;
}

.box-bg-gray {
  position: absolute;
  top: 0;
  right: 0;
  background: #C4C4C4;
  width: 50%;
  height: 557px;
}

.box-bg-gray img {
  margin: 80px 0;
}

.product-info .heading {
  font-size: 40px;
}

.product-info .description {
  color: #9C9696;
  font-weight: bold;
  width: 300px;
  margin-top: 16px;
}

.product-info .price {
  display: block;
  font-size: 40px;
  font-weight: bold;
  margin: 32px 0;
}

.btn-purchase {
  color: #FFF;
  background: #FF0000;
  padding: 24px 48px;
  font-weight: bold;
  font-size: 24px;
}

.scrolled {
  background: #FFF;
}

.article-d-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

#shop {
  margin-top: 128px;
}

.section-heading {
  margin-bottom: 2rem;
  font-size: 32px;
}

#card {
  display: flex;
  flex-direction: column;
  background: #FFF;
  border-radius: 8px;
}

#card img {
  border-radius: 8px 8px 0 0;
}

#card .product-data {
  padding: 16px 20px;
}

#card .product-data .product-title {
  font-size: 20px;
  font-weight: bold;
}

#card .product-data .product-description {
  font-size: 14px;
  color: #9C9696;
  margin-top: 8px;
}

#card .product-data .product-price {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-top: 16px;
}

aside {
  background-color: #FFF;
  border-radius: 5px;
  margin-top: 128px;
  border-radius: 8px;
}

.promo-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.promo-offer img {
  max-width: 100%;
  margin-bottom: 10px;
  border-radius: 8px 8px 0 0;
}

.promo-offer .promo-offer-description {
  font-size: 18px;
}

.promo-offer .btn-shop-now {
  background: #FF0000;
  color: #FFF;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 48px;
  gap: 8px;
  margin-bottom: 32px;
}

.promo-offer .btn-shop-now:hover svg {
  margin-left: 8px;
}

.promo-offer .btn-shop-now:hover {
  text-decoration: underline;
}

.small{
  padding: 1rem;
  font-weight: bold;
  font-size: 16px;
  border-radius: 0 0 8px 8px;
}

#about {
  padding: 48px 0;
  background: #C4C4C4;
  margin: 128px 0;
}

#about .about-us-d-flex {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

#about .about-us-d-flex .about-us-description {
  font-size: 16px;
}

#contact-us {
  background: #FFF;
}

#contact-us .contact-us-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contact-us .contact-us-content ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#contact-us .contact-us-content ul li {
  list-style-type: none;
  padding: 48px 48px;
}

#contact-us .contact-us-content ul li a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

#contact-us .contact-us-content .btn-contact-us {
  background: #000;
  color: #FFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  font-weight: bold;
  padding: 48px 80px;
  transition: 0.2s;
}

svg {
  transition: 0.2s;
}

#contact-us .contact-us-content .btn-contact-us:hover svg {
  margin-left: 8px;
}

#contact-us .contact-us-content .btn-contact-us:hover {
  text-decoration: underline;
}